<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Интерфейс администратора</title>
    <link rel="stylesheet" type="text/css" href="../static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/additionals.css" />
  </head>
  <body class="w3-content" style="max-width: 100%">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index: 3; width: 300px" id="mySidebar">
      <div class="w3-display-container w3-animate-left w3-margin" align="left">
          <img src="../static/img/icons/dstu.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
          <h4 class="text-blue" style="margin-left: 50px"><b>Система очередей</b></h4>
        </div>
      <hr class="w3-margin-top">
      <div class="w3-display-container w3-animate-left w3-margin" align="left">
          <img src="../static/img/icons/user.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
          <h4 class="text-blackish" style="margin-left: 50px">Владимир Вист</h4>
        </div>
      <hr class="w3-margin-top">
       <div class="w3-container">
       <button class="w3-button center w3-round-xlarge a-button-light-blue-hover" style="width:100%; height:6vh; padding: 0px!important;" name="button" type="submit" onclick="w3_close();openTab('overview');">
              <img class="search-icon" src="../static/img/icons/sliders.svg" alt="Перо" width="16" height="16" align="left" style="margin-left: 10px; " /><h5 style="margin-left: 40px; vertical-align: middle" align="left">Панель администратора</h5>
       </button>
       <button class="w3-button w3-padding-12 w3-round-xlarge a-button-light-blue-hover" style="width:100%; height:6vh; padding: 0px!important;" name="button" type="submit"  onclick="w3_close();openTab('tickets');">
              <img class="search-icon" src="../static/img/icons/tag.svg" alt="Талоны" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" /><h5 style="margin-left: 40px;" align="left">Талоны</h5>
       </button>
       <button class="w3-button w3-padding-12 w3-round-xlarge a-button-light-blue-hover" style="width:100%; height:6vh; padding: 0px!important;" name="button" type="submit" onclick="w3_close();openTab('stats');">
              <img class="search-icon" src="../static/img/icons/trending-up.svg" alt="Администратор" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" /><h5 style="margin-left: 40px;" align="left">Статистика</h5>
       </button>
       </div>
       <hr>
      <div class="w3-container">

      </div>
      <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-hover-grey" title="Close menu">
        </a>
      </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" title="Close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 300px">
      <!-- Header -->
      <header>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"></span>
      </header>

      <div class="w3-container tab" id="overview" style="display: none">
        <div class="w3-container">
          <h1 class="text-blackish"><b>Панель администратора</b></h1>
        </div>

        <div class="w3-row-padding w3-margin-bottom">
          <div class="w3-quarter">
            <div class="w3-container a-button-blue w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>{{ count }}</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Талонов</h4>
            </div>
          </div>
          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-text-white w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>{{ count }}</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Посетителей</h4>
            </div>
          </div>
          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>13</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Сотрудников</h4>
            </div>
          </div>
          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>5</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Терминалов</h4>
            </div>
          </div>
        </div>
        <div id="Statistics">
          <div class="w3-container w3-padding-24">
            <h2><b>Статистика</b></h2>
            <span>Дата: </span><span class="right"><b id="date">12.12.2022</b></span
            >​<br />
            <span>Время: </span><span class="right"><b id="time">12:20:00</b></span
            >​<br />
            <span>Этот сеанс длится: </span
            ><span class="right"
              ><b><span id="minutes">00</span>:<span id="seconds">00</span></b></span
            >​<br />
            <span>Талонов за день: </span><span class="right"><b>23</b></span
            >​<br />
            <span>Среднее время обслуживания: </span><span class="right"><b>3:27</b></span
            >​<br />
            <span>Нормативное время обслуживания: </span><span class="right"><b>5:00</b></span
            >​
          </div>
        </div>
        <hr />
      </div>

      <div class="tab w3-container w3-padding-large w3-grey" id="tickets">
        <h2 class="w3-margin"><b>Панель администратора</b></h2>
        <div class="w3-container w3-bar text-dark-grey" style="width: 100%">
            <button type="submit" class="w3-bar-item w3-button a-grey w3-round-xlarge w3-margin-bottom" style="height: 13vh; width: 14vw"><img class="search-icon" src="../static/img/icons/tag.svg" alt="Перо" width="20" height="20" align="left" />Талоны<br><span class="text-blackish w3-left-align">5</span>
            </button>
            <button type="submit" class="w3-bar-item w3-button w3-margin-left a-grey w3-round-xlarge w3-margin-bottom" style="height: 13vh; width: 14vw"><img class="search-icon" src="../static/img/icons/users.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Посетители<br><span class="text-blackish w3-left-align">150 ВСЕГО</span>
            </button>
            <button type="submit" class="w3-bar-item w3-button w3-margin-left a-grey w3-round-xlarge w3-margin-bottom" style="height: 13vh; width: 14vw"><img class="search-icon" src="../static/img/icons/briefcase.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Сотрудники<br><span class="text-blackish w3-left-align">13</span>
            </button>
            <button type="submit" class="w3-bar-item w3-button w3-margin-left a-grey w3-round-xlarge w3-margin-bottom" style="height: 13vh; width: 14vw"><img class="search-icon" src="../static/img/icons/monitor.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Терминалы<br><span class="text-blackish w3-left-align">13</span>
            </button>
        </div>

      <div class="w3-container w3-padding-24" style="max-height: 274px; max-width: 570px; height: 274px; width: 570px; position: static">
        <h2><b>Статистика</b></h2>
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/calendar.svg" alt="Перо" width="20" height="20" align="left" />Дата:</span><span class="right"><b id="date">12.12.2022</b></span
        >​<br />
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/clock.svg" alt="Перо" width="20" height="20" align="left" />Время:</span><span class="right"><b id="time">12:20:00</b></span
        >​<br />
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/watch.svg" alt="Перо" width="20" height="20" align="left" />Этот сеанс длится:</span
        ><span class="right"
          ><b><span id="minutes">00</span>:<span id="seconds">00</span></b></span
        >​<br />
        <div class="w3-container a-margin-bottom-8"></div>
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/tag.svg" alt="Перо" width="20" height="20" align="left" />Талонов за день:</span><span class="right"><b>7</b></span
        >​<br />
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/clock.svg" alt="Перо" width="20" height="20" align="left" />Среднее время обслуживания:</span><span class="right"><b>3:27</b></span
        >​<br />
        <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/thumbs-up.svg" alt="Перо" width="20" height="20" align="left" />Нормативное время обслуживания:</span><span class="right"><b>5:00</b></span
        >​
      </div>

        <div class="w3-row-padding w3-margin-bottom" style="display: none">
          <div class="w3-quarter">
            <div class="w3-container a-button-blue w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>52</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Талона</h4>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-text-white w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>46</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Посетителей</h4>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>21</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Сотрудник</h4>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container w3-dark-grey w3-padding-16">
              <div class="w3-left"></div>
              <div class="w3-right">
                <h3>5</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Терминалов</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- написать админам -->
      <div class="tab w3-container w3-padding-large w3-grey" id="contacts" style="display: none">
        <h4><b>Написать разработчикам</b></h4>
        <div class="w3-row-padding w3-center hi w3-padding-24" style="margin: 0">
          <div class="w3-third w3-dark-grey">
            <p></p>
            <p>dstu4ever@donstu.ru</p>
          </div>
          <div class="w3-third w3-teal">
            <p></p>
            <p>Ростов-на-Дону, РФ</p>
          </div>
          <div class="w3-third w3-dark-grey">
            <p></p>
            <p>8(800)555-35-35</p>
          </div>
        </div>
        <hr class="w3-opacity" />
          <div class="w3-section">
            <label>Тема</label>
          </div>
          <div class="w3-section">
            <label>Сообщение</label>
          </div>
          <button type="submit" class="w3-button a-button-blue w3-margin-bottom">Отправить</button>
      </div>
      <!-- End page content -->
    </div>

    <script src="../static/js/tab_opener.js"></script>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>

    <script>
      const milliseconds = 1000;
      setInterval(() => {
        var date = new Date();
        var current_date = date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
        document.getElementById("date").innerHTML = current_date;
        var current_time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        document.getElementById("time").innerHTML = current_time;
      }, milliseconds);
    </script>

    <script>
      var second = 0;
      var timer = setInterval(upTimer, 1000);
      function upTimer(count) {
        return count > 9 ? count : "0" + count;
      }
      setInterval(function () {
        document.getElementById("seconds").innerHTML = upTimer(++second % 60);
        document.getElementById("minutes").innerHTML = upTimer(parseInt(second / 60, 10));
      }, 1000);
    </script>
  </body>
</html>
