<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Интерфейс администратора</title>
    <link rel="stylesheet" type="text/css" href="../static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/additionals.css" />
  </head>
  <body class="w3-content" style="max-width: 100%">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-animate-left a-grey" style="z-index: 3; width: 300px" id="mySidebar">
      <div class="w3-display-container w3-animate-left w3-margin" align="left">
        <img src="../static/img/icons/dstu.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
        <h4 class="text-blue" style="margin-left: 50px"><b>Система очередей</b></h4>
      </div>
      <hr class="w3-margin-top" />
      <div class="w3-display-container w3-animate-left w3-margin" align="left">
        <img src="../static/img/icons/user.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
        <h4 class="text-blackish" style="margin-left: 50px">Владимир Вист</h4>
      </div>
      <hr class="w3-margin-top" />
      <div class="w3-container">
        <button class="w3-button center w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close();openTab('overview');">
          <img class="search-icon" src="../static/img/icons/sliders.svg" alt="Перо" width="16" height="16" align="left" style="margin-left: 10px" />
          <h5 style="margin-left: 40px; vertical-align: middle" align="left">Панель администратора</h5>
        </button>
        <button class="w3-button w3-padding-12 w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close();openTab('tickets-desk');">
          <img class="search-icon" src="../static/img/icons/tag.svg" alt="Талоны" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" />
          <h5 style="margin-left: 40px" align="left">Талоны (Стол)</h5>
        </button>
        <button class="w3-button w3-padding-12 w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close();openTab('tickets-window');">
          <img class="search-icon" src="../static/img/icons/tag.svg" alt="Талоны" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" />
          <h5 style="margin-left: 40px" align="left">Талоны (Окно)</h5>
        </button>
        <button class="w3-button w3-padding-12 w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close();openTab('tickets-history');">
          <img class="search-icon" src="../static/img/icons/tag.svg" alt="Талоны" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" />
          <h5 style="margin-left: 40px" align="left">Талоны (История)</h5>
        </button>
        <button class="w3-button w3-padding-12 w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close();openTab('stats');">
          <img class="search-icon" src="../static/img/icons/trending-up.svg" alt="Администратор" width="20" height="20" align="left" style="margin-left: 10px; margin-top: 8px" />
          <h5 style="margin-left: 40px" align="left">Статистика</h5>
        </button>
        <hr />
        <div class="w3-padding-12 w3-round-xlarge a-grey" style="width: 100%; height: 42.5vh; padding: 0px !important"></div>
      <button class="w3-button w3-bar w3-round-xlarge a-light-blue-hover" style="width: 100%; height: 6vh; padding: 0px !important" name="button" type="submit" onclick="w3_close()">
        <div class="w3-bar-item"><img class="search-icon" src="../static/img/icons/arrow-left.svg" alt="Администратор" width="24" height="24" align="left" style="margin-top: 8px" /></div>
        <div class="w3-bar-item"><h5 style="" align="left">Выйти</h5></div>
      </button>
      </div>
      <div class="w3-container"></div>
      <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-hover-grey" title="Close menu"> </a>
      </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" title="Close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 300px">
      <!-- Header -->
      <div class="tab w3-container w3-padding-large w3-grey" id="overview">
        <h2 class="w3-margin"><b>Панель администратора</b></h2>
        <div class="w3-row-padding w3-margin" style="height: 274px; width: 800px; position: static">
          <div class="w3-quarter">
            <div class="w3-container a-grey w3-padding-16 w3-round-xlarge w3-margin-bottom">
              <div class="w3-left"><img class="search-icon w3-margin-16" src="../static/img/icons/tag.svg" alt="Перо" width="20" height="20" align="left" /></div>
              <div class="w3-center">Талоны</div>
              <div class="w3-clear"></div>
              <h1 class="w3-center">5</h1>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container a-grey w3-padding-16 w3-round-xlarge w3-margin-bottom">
              <div class="w3-left"><img class="search-icon w3-margin-16" src="../static/img/icons/users.svg" alt="Перо" width="20" height="20" align="left" /></div>
              <div class="w3-center">Посетители</div>
              <div class="w3-clear"></div>
              <h1 class="w3-center">150 всего</h1>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container a-grey w3-padding-16 w3-round-xlarge w3-margin-bottom">
              <div class="w3-left"><img class="search-icon w3-margin-16" src="../static/img/icons/briefcase.svg" alt="Перо" width="20" height="20" align="left" /></div>
              <div class="w3-center">Сотрудники</div>
              <div class="w3-clear"></div>
              <h1 class="w3-center">13</h1>
            </div>
          </div>

          <div class="w3-quarter">
            <div class="w3-container a-grey w3-padding-16 w3-round-xlarge w3-margin-bottom">
              <div class="w3-left"><img class="search-icon w3-margin-16" src="../static/img/icons/monitor.svg" alt="Перо" width="20" height="20" align="left" /></div>
              <div class="w3-center">Терминалы</div>
              <div class="w3-clear"></div>
              <h1 class="w3-center">13</h1>
            </div>
          </div>

          <div class="w3-container w3-padding-24" style="height: 274px; width: 800px; position: static">
            <h2><b>Статистика</b></h2>
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/calendar.svg" alt="Перо" width="20" height="20" align="left" />Дата:</span><span class="right"><b id="date">12.12.2022</b></span
            >​<br />
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/clock.svg" alt="Перо" width="20" height="20" align="left" />Время:</span><span class="right"><b id="time">12:20:00</b></span
            >​<br />
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/watch.svg" alt="Перо" width="20" height="20" align="left" />Этот сеанс длится:</span
            ><span class="right"
              ><b><span id="minutes">00</span>:<span id="seconds">00</span></b></span
            >​<br />
            <div class="w3-container a-margin-bottom-8"></div>
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/tag.svg" alt="Перо" width="20" height="20" align="left" />Талонов за день:</span><span class="right"><b>7</b></span
            >​<br />
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/clock.svg" alt="Перо" width="20" height="20" align="left" />Среднее время обслуживания:</span><span class="right"><b>3:27</b></span
            >​<br />
            <span class="left text-dark-grey"><img class="search-icon a-margin-right-8" src="../static/img/icons/thumbs-up.svg" alt="Перо" width="20" height="20" align="left" />Нормативное время обслуживания:</span><span class="right"><b>5:00</b></span
            >​
          </div>
        </div>
      </div>
      <div class="tab w3-container w3-padding-large w3-grey" id="tickets-desk" style="display: none">
        <h1 class="w3-margin"><b>Статистика</b></h1>
        <table class="w3-margin w3-table w3-round-xlarge w3-bordered w3-border">
          <thead>
            <tr class="a-grey">
              <th>Всего талонов</th>
              <th>Всего операций</th>
              <th>В очереди</th>
              <th>Ср. время ожидания</th>
              <th>За день</th>
              <th>Сейчас</th>
              <th>Ср. время</th>
            </tr>
          </thead>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <div class="tab w3-container w3-padding-large w3-grey" id="tickets-window" style="display: none">
        <h1 class="w3-margin"><b>Статистика</b></h1>
        <table class="w3-margin w3-table w3-round-xlarge w3-bordered w3-border">
          <thead>
            <tr class="a-grey">
              <th>Окно</th>
              <th>Статус</th>
              <th>Клиент</th>
              <th>Обслужено</th>
              <th>Время перерыва</th>
              <th>Ср. время ожидания</th>
            </tr>
          </thead>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <div class="tab w3-container w3-padding-large w3-grey" id="tickets-operations" style="display: none">
        <h1 class="w3-margin"><b>Статистика</b></h1>
        <table class="w3-margin w3-table w3-round-xlarge w3-bordered w3-border">
          <thead>
            <tr class="a-grey">
              <th>Код</th>
              <th>Операция</th>
              <th>В очереди</th>
              <th>Обслужено</th>
              <th>Ср. время</th>
            </tr>
          </thead>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <div class="tab w3-container w3-padding-large w3-grey" id="tickets-history" style="display: none">
        <h1 class="w3-margin"><b>Статистика</b></h1>
        <table class="w3-margin w3-table w3-round-xlarge w3-bordered w3-border">
          <thead>
            <tr class="a-grey">
              <th>Код</th>
              <th>Операция</th>
              <th>В очереди</th>
              <th>Обслужено</th>
              <th>Ср. время</th>
            </tr>
          </thead>
          <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <!-- написать админам -->
      <div class="tab w3-container w3-padding-large w3-grey" id="contacts" style="display: none">
        <h4><b>Написать разработчикам</b></h4>
        <div class="w3-row-padding w3-center hi w3-padding-24" style="margin: 0">
          <div class="w3-third w3-dark-grey">
            <p></p>
            <p>dstu4ever@donstu.ru</p>
          </div>
          <div class="w3-third w3-teal">
            <p></p>
            <p>Ростов-на-Дону, РФ</p>
          </div>
          <div class="w3-third w3-dark-grey">
            <p></p>
            <p>8(800)555-35-35</p>
          </div>
        </div>
        <hr class="w3-opacity" />
        <div class="w3-section">
          <label>Тема</label>
        </div>
        <div class="w3-section">
          <label>Сообщение</label>
        </div>
        <button type="submit" class="w3-button a-blue w3-margin-bottom">Отправить</button>
      </div>
      <!-- End page content -->
    </div>

    <script src="../static/js/tab_opener.js"></script>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>

    <script>
      const milliseconds = 1000;
      setInterval(() => {
        var date = new Date();
        var current_date = date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
        document.getElementById("date").innerHTML = current_date;
        var current_time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        document.getElementById("time").innerHTML = current_time;
      }, milliseconds);
    </script>

    <script>
      var second = 0;
      var timer = setInterval(upTimer, 1000);
      function upTimer(count) {
        return count > 9 ? count : "0" + count;
      }
      setInterval(function () {
        document.getElementById("seconds").innerHTML = upTimer(++second % 60);
        document.getElementById("minutes").innerHTML = upTimer(parseInt(second / 60, 10));
      }, 1000);
    </script>
  </body>
</html>
