<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <audio id="welcome">
    <source src="../voicer/audio/1.mp3" type="audio/mpeg">
    <source src="../voicer/audio/2.mp3" type="audio/mpeg">
  </audio>
  <button onclick="playSound()">Click me</button>
  <script>
  function playSound () {
    document.getElementById("welcome").play();
	// let client = new Audio('./voicer/audio/1.mp3');
	// client.play();
	// let letter = new Audio('ding.mp3');
	// letter.play();
	// let number1 = new Audio('ding.mp3');
	// number1.play();
	// let number2 = new Audio('ding.mp3');
	// number2.play();
	// let number3 = new Audio('ding.mp3');
	// number3.play();
	// let room = new Audio('ding.mp3');
	// room.play();
	// let roomnumber = new Audio('ding.mp3');
	// roomnumber.play();
	// let win = new Audio('ding.mp3');
	// win.play();
	// let winnumber = new Audio('ding.mp3');
	// winnumber.play();
	}
  </script>
  </body>
</html>
