<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ</title>
    <link rel="stylesheet" type="text/css" href="/static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/additionals.css" />
  </head>
  <body>
    <!-- start	 -->
    <div align="center" class="w3-container w3-padding-32">
      <h1 class="text-blackish"><b>Желаю открыть...</b></h1>
      <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle" style="width: 100%">
        <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="location.href='/client';">
          <img class="search-icon" src="../static/img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" /><b>...интерфейс терминала.</b>
        </button>
        <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="location.href='/volunteer';">
          <img class="search-icon" src="../static/img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" /><b>...интерфейс волонтера.</b>
        <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="location.href='/login';">
          <img class="search-icon" src="../static/img/icons/shuffle.svg" alt="Стрелки" width="20" height="20" align="left" style="margin-right: 10px" /><b>...интерфейс администратора.</b>
        </button>
        <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="window.open('/login','targetWindow','toolbar=0,location=0,status=0,menubar=0o,scrollbars=0,resizable=0,width=570,height=735'); return false;">
          <img class="search-icon" src="../static/img/icons/shuffle.svg" alt="Стрелки" width="20" height="20" align="left" style="margin-right: 10px" /><b>...интерфейс оператора.</b>
        </button>
        <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="location.href='/screen';">
          <img class="search-icon" src="../static/img/icons/shuffle.svg" alt="Стрелки" width="20" height="20" align="left" style="margin-right: 10px" /><b>...табло билетов.</b>
        </button>
          <button class="w3-button w3-round w3-padding-16 a-button-blue a-button-blue-hover w3-ripple w3-margin-top w3-block w3-round-xlarge a-hover-light-grey" name="button" onclick="location.href='/statistic';">
          <img class="search-icon" src="../static/img/icons/shuffle.svg" alt="Стрелки" width="20" height="20" align="left" style="margin-right: 10px" /><b>...табло статистики</b>
        </button>
      </div>
    </div>
  </body>
</html>
