<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Логин к панели администратора</title>
    <link rel="stylesheet" type="text/css" href="../static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/additionals.css" />
  </head>
  <body>
    <!-- start	 -->
    <div id="Start" class="tab">
      <div class="userspace" style="height: 100vh; position: relative" align="center">
        <div class="w3-container" align="center">
          <h1 class="text-blackish"><b>Здравствуйте, сотрудник!</b></h1>
        </div>
        <div style="max-width: 600px" align="center">
          <form method="post">
            <div class="w3-section" align="center">
              <label><b>Логин</b></label>
              <input type="text" class="w3-input w3-border w3-margin-bottom" name="username" placeholder="Иванов Иван Иванович" required />
              <label><b>Пароль</b></label>
              <input type="password" class="w3-input w3-border" name="password" placeholder="*****" required />
              <label><b>Вход</b></label>
              <button class="w3-button w3-hover-button-blue w3-block a-button-blue w3-section w3-padding w3-round-xlarge" type="submit">
                <b>Войти</b>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
