<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Панель оператора</title>
    <link rel="stylesheet" type="text/css" href="../static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/additionals.css" />
  </head>
  <body>
    <div id="Operator" class="tab" style="display: block">
      <div class="w3-container a-padding-24" style="max-height: 460px; max-width: 570px; height: 460px; width: 570px; position: static">
        <h1 class="text-blackish"><b>Работа с клиентом</b></h1>
        <h2 class="text-blackish"><b>Номер талона:</b></h2>
        <div class="w3-display-container w3-panel a-ticket w3-round-xlarge" style="">
          <div class="w3-display-middle">
            <h1><b id="number">{% if not tickets: %} Талонов нет {% else: %} {{ tickets[0].type }}-{{'{:03}'.format(tickets[0].number) }} {% endif %}</b></h1>
          </div>
        </div>
        <span class="left w3-dark-grey">Следующий в очереди:</span><span class="right"><b id="next">{% if not tickets or tickets[1] == null: %} Талонов нет {% else: %} {{ tickets[1].type }}-{{'{:03}'.format(tickets[1].number) }} {% endif %}</b></span
        >​<br />
        <span class="left w3-dark-grey a-margin-bottom-8">Количество ожидающих:</span><span class="right"><b>{{ count }}</b></span
        >​
        <form method="post">
          <input type="number" name="oper_action" value="1" style="display: none" />
          <button class="w3-button w3-round w3-padding-8 a-blue a-blue-hover a-margin-bottom-8 w3-block w3-round-large" type="submit" id="stoptimer">Закончить сеанс</button>
        </form>
        <div class="w3-bar a-margin-bottom-8">
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" style="width: 48%" name="button" onclick="openTab('OperatorRerouting')">Перенаправить</button>
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-right" style="width: 48%" name="button" onclick="openTab('OperatorChoosing')">Вызвать по номеру</button>
        </div>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large" name="button" onclick="openTab('OperatorRests')">Выйти на перерыв</button>
      </div>
    </div>
    <!--Rerouting-->
        <div id="OperatorRerouting" class="tab" style="display: none">
      <div class="w3-container a-padding-24" style="max-height: 460px; max-width: 570px; height: 460px; width: 570px; position: static">
        <h1><b>Работа с клиентом</b></h1>
        <h2><b>Номер талона:</b></h2>
          <div class="w3-display-container w3-panel a-ticket w3-round-xlarge" style="">
           <div class="w3-display-middle">
              <h1><b id="rer_num">{% if not tickets: %} Талонов нет {% else: %} {{ tickets[0].type }}-{{'{:03}'.format(tickets[0].number) }} {% endif %}</b></h1>
           </div>
         </div>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round a-blue a-blue-hover w3-block w3-round-large" onclick="Accordion('Demo1')" class="w3-btn w3-block w3-black w3-left-align">Выберите комиссию для перенапрваления</button>
        <div id="Demo1" class="w3-container w3-hide" style="max-height: 150px; overflow: scroll">
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-140" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Социально-гуманитарные науки</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-105" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Строительство, архитектура</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-149" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">IT-Технологии</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-149" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Агро, биотехнологии,транспорт</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-143" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Авиа и машиностроение, дизайн</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-105" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Инноватика, энергетика, прибор.</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-143" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Пожарная безопасность,химтех</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-123" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Магистратура</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-157" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Авиастроительный колледж</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-193" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">КЭУиП</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-157" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">IThub</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-193А" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Перевод\Восстановление</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-186Б" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Зелёный зал</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-110" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Договоры</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-177" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Т-Университет</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-177" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">Школа Х</button>
          </form>
                  <div class="w3-container a-margin-bottom-8"></div>
          <form method="post">
          <input type="number" name="oper_action" value="2" style="display: none" />
          <input type="text" name="reroute_room" value="1-130" style="display: none" />
          <button class="w3-bar-item w3-button w3-padding-8 a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" name="button" onclick="openTab('Operator')">ПИШ</button>
          </form>
        </div>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round a-blue a-blue-hover w3-block w3-round-large" onclick="openTab('Operator')">Вернуться к текущему талону</button>
      </div>
    </div>
        <!--Choosing-->
           <div id="OperatorChoosing" class="tab" style="display: none">
      <div class="w3-container a-padding-24" style="max-height: 460px; max-width: 570px; height: 460px; width: 570px; position: static">
        <h1><b>Работа с клиентом</b></h1>
        <h2><b>Номер талона:</b></h2>
          <div class="w3-display-container w3-panel a-ticket w3-round-xlarge" style="">
           <div class="w3-display-middle">
              <h1><b>{% if not tickets: %} Талонов нет {% else: %} {{ tickets[0].type }}-{{'{:03}'.format(tickets[0].number) }} {% endif %}</b></h1>
           </div>
         </div>
                <div class="w3-container a-margin-bottom-8"></div>
        <div class="w3-container a-margin-bottom-8"></div>
        <label><b>Введите талона для вызова</b></label>
        <input type="text" class="w3-input w3-border w3-margin-bottom"/>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round a-blue a-blue-hover w3-block w3-round-large" onclick="openTab('Operator')">Вызвать талон</button>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round a-blue a-blue-hover w3-block w3-round-large" onclick="openTab('Operator')">Вернуться к текущему талону</button>
      </div>
    </div>
    <!--Rests-->
        <div id="OperatorRests" class="tab" style="display: none">
      <div class="w3-container a-padding-24" style="max-height: 460px; max-width: 570px; height: 460px; width: 570px; position: static">
        <h1><b>Работа с клиентом</b></h1>
        <h2><b>Номер талона:</b></h2>
        <div class="w3-display-container w3-panel a-ticket w3-round-xlarge" style="">
          <div class="w3-display-middle">
            <h1><b></b></h1>
          </div>
        </div>
        <span class="left w3-dark-grey">Следующий в очереди:</span><span class="right"><b></b></span>​<br />
        <span class="left w3-dark-grey">Количество ожидающих:</span><span class="right"><b></b></span>​
        <button class="w3-button w3-round w3-padding-8 a-grey-blue a-grey-blue-hover a-margin-bottom-8 w3-block w3-round-large w3-disabled" name="button">-</button>
        <div class="w3-bar a-margin-bottom-8">
          <button class="w3-bar-item w3-round w3-disabled a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-left" style="width: 48%">-</button>
          <button class="w3-bar-item w3-round w3-disabled a-grey-blue a-grey-blue-hover w3-block w3-round-large w3-right" style="width: 48%">-</button>
        </div>
        <div class="w3-container a-margin-bottom-8"></div>
        <button class="w3-button w3-round a-blue a-blue-hover w3-block w3-round-large" onclick="openTab('Operator')">Вернуться к работе</button>
      </div>
        </div>
    <div id="Statistics">
      <div class="w3-container w3-padding-24" style="max-height: 274px; max-width: 570px; height: 274px; width: 570px; position: static">
        <h1><b>Статистика</b></h1>
        <span class="left w3-dark-grey">Дата:</span><span class="right"><b id="date">12.12.2022</b></span
        >​<br />
        <span class="left w3-dark-grey">Время:</span><span class="right"><b id="time">12:20:00</b></span
        >​<br />
        <span class="left w3-dark-grey">Этот сеанс длится:</span
        ><span class="right"
          ><b><span id="minutes">00</span>:<span id="seconds">00</span></b></span
        >​<br />
        <div class="w3-container a-margin-bottom-8"></div>
        <span class="left w3-dark-grey">Талонов за день:</span><span class="right"><b>7</b></span
        >​<br />
        <span class="left w3-dark-grey">Среднее время обслуживания:</span><span class="right"><b>3:27</b></span
        >​<br />
        <span class="left w3-dark-grey">Нормативное время обслуживания:</span><span class="right"><b>5:00</b></span
        >​
      </div>
    </div>
    <script>
      const milliseconds = 1000;
      setInterval(() => {
        var date = new Date();
        var current_date = date.getDate() + "." + 12 + "." + date.getFullYear();
        document.getElementById("date").innerHTML = current_date;
        var current_time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        document.getElementById("time").innerHTML = current_time;
      }, milliseconds);
    </script>

    <script>
      var second = 0;
      var timer = setInterval(upTimer, 1000);
      function upTimer(count) {
        return count > 9 ? count : "0" + count;
      }
function Accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
      setInterval(function () {
        document.getElementById("seconds").innerHTML = upTimer(++second % 60);
        document.getElementById("minutes").innerHTML = upTimer(parseInt(second / 60, 10));
      }, 1000);
    </script>
    <script src="../static/js/tab_opener.js"></script>
    <script>
      setInterval(function() {
        fetch('/op-listener' + window.location.pathname)
                .then(response => response.json())
                .then(data => updateElement(data))}, 1500);

    function updateElement(tick) {
      num = document.getElementById('number');
      if (tick.one == null) num.innerHTML = 'Талонов нет'
      else num.innerHTML = (tick.one.type + "-" + ('000' + tick.one.number).slice(-3))
      nex = document.getElementById('next');
      if (tick.two == null) nex.innerHTML = 'Талонов нет'
      else nex.innerHTML = (tick.two.type + "-" + ('000' + tick.two.number).slice(-3))
      rer_num = document.getElementById('number');
      if (tick.one == null) rer_num.innerHTML = 'Талонов нет'
      else rer_num.innerHTML = (tick.one.type + "-" + ('000' + tick.one.number).slice(-3))
    }
  </script>
  </body>
</html>
