<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Табло</title>
    <link rel="stylesheet" type="text/css" href="../static/css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/additionals.css" />
  </head>
  <body>
    <div class="w3-bar w3-center a-grey">
      <div class="w3-bar-item w3-center" style="width: 5%">
        <img src="../static/img/icons/dstu.svg" alt="ДГТУ" width="40" height="40" onclick="document.getElementById('settings').style.display='block'" />
      </div>
      <div class="w3-bar-item w3-center" style="width: 90%">
        <h2>
          <b><b id="date">12.12.2022</b> <b id="time">12:20:00</b></b>
        </h2>
      </div>
      <div class="w3-bar-item w3-center" style="width: 5%"></div>
    </div>
    <div class="w3-bar a-grey">
      <div class="w3-bar-item w3-center" style="width: 50%">
        <h2><b class="w3-centered">Вызваны</b></h2>
      </div>
      <div class="w3-bar-item w3-center" style="width: 50%">
        <h2><b class="w3-centered">В очереди</b></h2>
      </div>
    </div>
    <table class="w3-table-all w3-left w3-centered w3-xxlarge" style="width: 50%">
      <tr>
        <th>
          <h1><b>Талон</b></h1>
        </th>
        <th>
          <h1><b>Кабинет</b></h1>
        </th>
      </tr>
      <tr>
        <td><h1></h1></td>
        <td><h1></h1></td>
      </tr>
    </table>
    <table class="w3-table-all w3-right w3-centered w3-xxlarge" style="width: 50%">
      <tr>
        <th>
          <h1><b>Талон</b></h1>
        </th>
        <th>
          <h1><b>Кабинет</b></h1>
        </th>
      </tr>
      <tr>
        <td><h1></h1></td>
        <td><h1></h1></td>
      </tr>
    </table>
    <div id="settings" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('settings').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <h2 class="w3-center"><b>Настройки</b></h2>
          <div class="w3-container">
            <h2>Конфигурация</h2>
            <p>Выберите желаемую конфигурацию для этого экрана.</p>
            <div class="w3-dropdown-click">
              <button onclick="myFunction()" class="w3-button a-blue w3-round-xlarge">Выбрать</button>
              <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button">Link 1</a>
              </div>
            </div>
          </div>
          <br/><br/><br/><br/>
        </div>
      </div>
    </div>
    <script>
      const milliseconds = 10;
      setInterval(() => {
        var date = new Date();
        var current_date = date.getDate() + "." + 12 + "." + date.getFullYear();
        document.getElementById("date").innerHTML = current_date;
        var current_time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        document.getElementById("time").innerHTML = current_time;
      }, milliseconds);

      function myFunction() {
        var x = document.getElementById("Demo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>
